.page-header {
  // z-index: 100;
  // width: 1200px;
  position: relative;
}

// .menu-container {
//   display: flex;
//   flex-direction: column;
//   padding: 0;
// }

.navigation {
  // display: inline-block;
  // align-items: center;
  justify-items: center;
}

.contacts-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-logo {
  // border: 1px solid;
  // align-items: baseline;
  // justify-content: baseline;

  // display: inline-block;

  // border: 1px solid tomato;

  .flex-type {
    // background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // @media screen and (min-width: 768px) {
  //   .flex-type {
  //     align-items: flex-end;

  //     justify-content: flex-end;
  //   }
  // }
}

.menu-container {
  // overflow: hidden;
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  height: auto;

  background-color: #fff;
  z-index: 1;
  // visibility: hidden;
  // pointer-events: none;

  // transform: translateX(-100%);
  // transition: transform 500ms linear;
  // flex-direction: column;
  // background-color: tomato;
  // padding: 20px;
  // border: 1px solid;

  &.is-open {
    display: block;
    // transform: translateX(0%);
    // transition: transform 500ms linear;
    // visibility: visible;
    // pointer-events: initial;

    @media screen and (max-width: 767px) {
      // visibility: visible;
      // pointer-events: initial;
      transform: translateY(0%);
    }
  }

  @media screen and (max-width: 767px) {
    // display: none;
    // visibility: hidden;

    // pointer-events: none;
    // height: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    // z-index: -1;
    // overflow: hidden;
    transform: translateY(-120%);
    transition: transform 250ms linear;

    // border: 1px solid;

    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: auto;
    margin-left: auto;

    // &.is-open {
    //   visibility: visible;
    //   transform: translateY(0%);

    // }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    // flex-direction: row;

    // padding: 0;
    // margin-top: 0;
    // align-items: flex-end;
    justify-items: center;
    // flex-direction: row;
    height: 100%;
  }
}

.mobile-menu-button {
  // z-index: 2;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  // align-items: center;
  // justify-items: center;
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: transparent;

  &:hover .icon-mobile-menu,
  &:focus .icon-mobile-menu,
  &:hover .icon-close-mobile-menu,
  &:focus .icon-close-mobile-menu {
    fill: $--text-accent-color;
    transition: fill 250ms $timing-function;
  }

  .icon-close-mobile-menu {
    display: none;
  }

  &.is-open .icon-close-mobile-menu {
    display: block;
  }

  &.is-open .icon-mobile-menu {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.site-auth {
  padding: 0;
  text-align: center;
  // border: 1px solid;

  // margin-left: auto;
  // margin-right: auto;
  @extend %nav-style;

  .link {
    color: $--primary-text-color;
  }

  // &.flex-type {
  //   display: inline-block;
  // margin-top: auto;
  // margin-bottom: auto;
  // padding-left: 0;
  // margin-left: auto;
  // align-items: center;
  // }

  & :not(:first-child) {
    padding-top: 16px;
  }

  .text {
    line-height: 1.14;
  }

  @media screen and (min-width: 768px) {
    // display: flexbox;
    // height: 100%;
    // padding-top: 10px;
    // flex-wrap: wrap;
    // padding-top: 21px;
    // padding-bottom: 0;
    // margin-bottom: 0;
    text-align: start;
    // text-justify: auto;
    // align-content: center;
    // align-items: center;
    // justify-content: flex-end;
    margin-left: 84px;
    // display: flex;

    // .text {
    //   line-height: 5.71;
    // }

    & :not(:first-child) {
      padding-top: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin-left: 305px;

    & :not(:first-child) {
      padding-top: 0px;
      padding-left: 30px;
    }
  }
}

.site-nav {
  display: block;
  padding-bottom: 60px;
  padding-left: 0;
  // margin-left: auto;
  // margin-right: auto;
  // margin-left: 0;
  // border: 1px solid;
  text-align: center;
  @extend %nav-style;

  // .flex-type {
  //   display: block;
  // align-items: center;
  // }

  :not(:last-child) {
    padding-bottom: 40px;
  }

  .link {
    display: inline-block;
    height: 33px;
    // line-height: 4;
    position: relative;
    color: $--text-title-color;
    align-items: center;
    justify-content: center;
  }

  .link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: $--text-accent-color;
    transform: scale(0);
  }

  .link:hover:after,
  .link:focus:after {
    transform: scale(1);
    transition: transform 250ms $timing-function;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    height: 100%;
    // line-height: 5.71;
    align-items: flex-end;
    justify-items: center;
    padding-bottom: 0;
    // margin-left: 50px;

    :not(:last-child) {
      padding-bottom: 0;
      padding-right: 50px;
    }

    .link {
      display: flex;
      height: 79px;
      // line-height: 4;
      position: relative;
      color: $--text-title-color;
      align-content: center;
      justify-content: center;
    }
  }
}

.logo {
  // z-index: 4;
  color: $--primary-logo-color;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  font-family: $font-family-logo;
  display: inline-block;
  // border: 1px solid;
  // padding-top: 24px;
  // padding-bottom: 25px;
  // padding-left: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: color 250ms $timing-function;

  .page-header &:hover {
    color: $--text-accent-color;
  }

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
    // padding-top: 0;
    // padding-bottom: 0;
    // margin-top: 26px;
    // margin-bottom: 26px;
  }
}

.logo-colored {
  color: $--text-accent-color;
}

.current-page {
  color: $--text-accent-color;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: $--text-accent-color;
  }
}

.icon-mail {
  width: 16px;
  height: 11.2px;
  margin-right: 10px;
  fill: currentColor;
  // padding-bottom: 0;
}

.icon-vector {
  width: 10px;
  height: 14.92px;
  margin-right: 10px;
  fill: currentColor;
}

.link {
  &:hover,
  &:focus {
    color: $--text-accent-color;
  }

  &:focus .logo {
    color: $--text-accent-color;
  }
}
