.hero-container {
  max-width: 1600px;
  display: block;
  text-align: center;
  // justify-content: center;
  // justify-items: center;
  background-color: $--primary-text-color;
  margin-left: auto;
  margin-right: auto;
  background-image: $--hero-background-image-gradient,
    url(../img/header_mobile.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  // background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: $--hero-background-image-gradient,
      url(../img/header_mobile@2x.jpg);
    border: solid tomato;
  }

  @media (min-width: 768px) {
    background-image: $--hero-background-image-gradient,
      url(../img/header_tablet.jpg);

    @media (min-resolution: 2dppx) {
      background-image: $--hero-background-image-gradient,
        url(../img/header_tablet@2x.jpg);
      border: solid tomato;
    }
  }

  @media (min-width: 1200px) {
    background-image: $--hero-background-image-gradient,
      url(../img/header_desktop.jpg);

    @media (min-resolution: 2dppx) {
      background-image: $--hero-background-image-gradient,
        url(../img/header_desktop@2x.jpg);
      border: solid tomato;
    }
  }
}

.hero-title {
  color: $--primary-white-color;
  font-style: normal;
  font-weight: 900;
  // font-size: 44px;
  // line-height: 1.36;
  font-size: 26px;
  line-height: 1.61;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  // padding-top: 200px;
  padding-top: 118px;
  margin-top: 0;
  margin-bottom: 30px;

  @media (min-width: 1200px) {
    padding-top: 200px;
  }
}

.hero-button {
  @extend %button-style;

  &:hover,
  &:focus {
    color: $--text-title-color;
    outline: none;
  }

  @media (min-width: 1200px) {
    margin-bottom: 200px;
  }
}
